@page "/CartView"
@inject CartService CartServivce

<h1>Shopping cart</h1>
<h3>You have @CartService.SelectedItems.Count in cart</h3>

<ProductList Products="CartService.SelectedItems"></ProductList>

@code {

}
