@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <header class="text-center">
        <h1>Welcome to Razor Pages</h1>
    </header>
</div>
<br/><br/>
<div>
    <header class="text-center">
        <h1 class="display-4">Task 1: Input Form</h1>
           <h2>by @Model.FullName</h2>
    </header>
    <br/><br/>
    <form method="post" class="mx-auto" style="width:200px">
        <p class="col-sm-2">
            <label for="Name">Name</label>
            <input type="text" required="true" placeholder="Your Full Name" asp-for="FullName">
        </p>
        <p class="col-sm-4">
            <label for="Email">Email</label>
            <input type="email" required="true" placeholder="Your Email Address" name="email" />
        </p>
        <p class="col-sm-2">
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        </p>
        <p class="col-sm-6">
            @ViewData["Message"]
        </p>
    </form>
    
</div>

<div>
    <header class="text-center">
        <h1 class="display-4">Task 2: Currency Convertor - Pounds to Euros</h1>
    </header>
    <br/><br/>
    <form method="post" class="mx-auto" style="width:200px">
        <p>Please enter the amount you want to convert:</p>
        <p>
            <input type="number" required="true" min="0" asp-for="@Model.Amount">
            <br/><br/>
            <button class="btn btn-primary">Convert</button>
        </p>
        <p>
            @ViewData["Convert"]
        </p>
    </form>
        
</div>
